/* ===== MAIN ===== */
.courses-main {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-bottom: 3rem;
}

.logo {
    display: none;
}

.page-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

/* ===== FLEX LAYOUT ===== */
.courses-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* ===== COURSE CARD ===== */
.course-card {
    background: white;
    color: black;
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: 0.4s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeInUp 0.55s ease both;
}

.course-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Hover Effect */
.course-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.course-card h3 {
    color: var(--primary);
    margin-bottom: 10px;
}

.course-card p {
    margin-bottom: 20px;
    font-size: 0.95rem;
}

/* Button */
.card-btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.card-btn:hover {
    background: var(--secondary);
}

/* Animation */
@keyframes fadeInUp {
    from { 
        opacity: 0; 
        transform: translateY(18px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

/* Responsive */
@media (max-width: 900px) {
    .courses-main { 
        padding-left: 6%; 
        padding-right: 6%; 
    }

    .course-card { 
        width: 45%; 
    }

    .course-card img { 
        height: 140px; 
    }

    .page-title { 
        font-size: 2rem; 
    }
}

@media (max-width: 600px) {
    .courses-container { 
        gap: 20px; 
    }

    .course-card { 
        width: 100%; 
        padding: 18px; 
    }

    .course-card img { 
        height: 180px; 
    }

    .card-btn { 
        padding: 9px 16px; 
    }

    .page-title { 
        font-size: 1.6rem; 
    }
  
}



@media (max-width: 480px) {
    .header-top{
        display: flex;
        gap: 8px;
        align-items: center;
    }
     .logo {
        display: block;
        width: 30px; /* optional size */
        cursor: pointer;
    }
}