*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #0000fa, #2c2c3e);
        color: white;
    }
.logo {
    display: none;
}

    .mobile-nav {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px;
    }

    .logo {
        font-size: 22px;
        margin-bottom: 30px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 12px;
        border-radius: 8px;
        transition: all 1s;
    }

    nav a:hover {
        background: rgba(236, 201, 201, 0.443);
    }

    footer {
        display: flex;
        height: 50px;
        gap: 25px;
        font-size: 22px;
    }

    footer a {
        color: white;
        transition:all 0.3s;
    }

    footer a:hover {
        color: #00bcd4;
        transform: scale(1.2);
    }

